<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--添加log4net自定义节点-->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <!--文件路径-->
      <file value="D:\logs\log.txt"/>
      <rollingStyle value="Date" />
      <appendToFile value="true"/>
      <!--显示格式-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
</configuration>